# Ignore artifacts, logs, and output files
Artifacts/
logs/
*.pkl

# Ignore data folders
data/batch_data/
data/raw_data/
data/output/

# Ignore Python cache and compiled files
__pycache__/
*.py[cod]
*$py.class

# Ignore virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints

# Ignore PyTest, coverage, and test-related cache
.pytest_cache/
.tox/
.coverage
coverage.xml
nosetests.xml

# Ignore Docker, Pip, and Poetry lock files
docker-compose.override.yml
pip-log.txt
pip-delete-this-directory.txt
poetry.lock
pdm.lock
.pdm.toml
.pdm-build/

# Ignore PyCharm and VSCode settings
.idea/
.vscode/

# Ignore temporary or personal files
.DS_Store
Thumbs.db
*.log
